<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Básico</title>
</head>
<body>

    <h1>Formulario Básico</h1>

    <form [formGroup]="formulario">
        <div>
          <label for="nombre">Nombre</label>
          <input type="text" formControlName="nombre">
        </div>
        <div>
          <label for="edad">Edad</label>
          <input type="number" formControlName="edad">
        </div>
        <button (click)="verificarEdad()">Verificar Edad</button>
      </form>

</body>
</html>